langchain
langgraph
langchain-core
langchain-community
mistralai
langchain-mistralai
tavily-python
python-dotenv
fastapi
uvicorn
pydantic
requests
tiktoken
faiss-cpu
beautifulsoup4
lxml
streamlit
aiohttp
numpy
pandas
rich
duckduckgo-search
wikipedia
python-multipart
notebook
ipykernel